<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API PORT DE PLAISANCE RUSSELL</title>
  <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>

<body>
  <div>
    <header>
      <h1>Port de Plaisance Russell</h1>

      <nav>

        <ul>
          <li><a href="/views/index.html">Accueil</a></li>
          <li><a href="/views/catways.html">Catways</a></li>
          <li><a href="/views/reservations.html">Reservations</a></li>
          <li><a href="/views/utilisateurs.html">Utilisateurs</a></li>
          <li><a href="/views/tableaudebord.html">tableau de bord</a></li>
        </ul>
      </nav>
    </header>
  </div>

  <div>
    <h2>Présentation</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore facere eius accusamus enim neque unde sapiente doloremque deleniti, ipsam at aut non. Neque accusantium, optio ipsam nobis repudiandae nihil consequuntur?</p>
  </div>

  <section>
    <div class="login-container">
      <h2>Connexion</h2>
      <form onsubmit="redirectToDashboard(event)">
        <input type="text" name="username" placeholder="Nom d'utilisateur" required><br>
        <input type="password" name="password" placeholder="Mot de passe" required> <br>
        <button type="submit">Se connecter</button>
      </form>
    </div>
  </section>




</body>

</html>