<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reservations</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./component/header') %>   


    <h2>Bienvenue sur la page Reservations</h2>


    <p>Creer une reservation</p>
    <p>lister l'ensemble des reservations</p>
    <p>Récupérer les détails d'une reservation en particulier</p>
    <p>Modifier les details d'une reservation</p>
    <p>Supprimer une reservation</p>

</body>
</html>