<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tableau de Bord</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./component/header') %>

        <h2>Bienvenue sur la page Tableau de Bord</h2>


        <h3>Menu</h3>
    <div class="bord" >
        <ul>
           <li><a href="">Accès aux pages précédentes</a></li><br>
           <li><a href="">Se deconnecter</a></li><br>
           <li><a href="">Accès à la documentation</a></li><br>
           <li><a href="">Se deconnecter et revenir a la page d'accueil</a></li><br>
           <li><a href="">Date du jour</a></li><br>
           <li><a href="">Tableau des réservations en cours</a></li>
        </ul>
    </div>
</body>

</html>