<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Utilisateurs</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <%- include('./component/header') %>

        <h2>Bienvenue sur la page Utilisateurs</h2>


        <p>Creer un utilisateur</p>
        <p>lister l'ensemble des utilisateurs</p>
        <p>Récupérer les détails d'un utilisateur en particulier</p>
        <p>Modifier les details d'un utilisateur</p>
        <p>Suppromer un utilisateur</p>
</body>

</html>